<!doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Authorisation</title>

</head>
<body>

<div class="container" style="width: 400px">
    <form class="form" method="post" action="/login">
        <h1>Please sign in</h1>
        <label for="name"></label>
        <input class="form-control" type="text" name="username" id="name" placeholder="Name">
        <label for="password"></label>
        <input class="form-control" type="password" name="password" id="password" placeholder="Password">
        <br/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>

</body>
</html>