<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>User</title>
</head>
<body>

<div style="height: 60px" class="container-fluid bg-dark text-white">
    <div style="height: 60px" class="row align-items-center">
        <div class="col-11 text-white m-0 h4">
            <tr>
                <b>
                    <td th:text="${user.name}">name</td>
                </b>
                <td th:text="'with roles: ' + ${user.roles}">roles</td>
            </tr>
        </div>
        <div class="col-1">
            <form th:action="@{/logout}">
                <input class="btn btn-outline-secondary" type="submit" value="Logout"/>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-2 py-4 px-0">
            <a href="#" class="btn btn-primary btn-lg btn-block text-left" type="button">User</a>
        </div>
        <div class="col-10 m-0 py-4 px-5">
            <div class="head info">
                <h1>User information page</h1>
            </div>
            <div class="about user block border h4 p-3 m-0 border-bottom-0">
                About user
            </div>
            <div class="table border p-4">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Last Name</th>
                        <th>Age</th>
                        <th>Role</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:object="${user}">
                        <td th:text="${user.id}">Id</td>
                        <td th:text="${user.name}">Name</td>
                        <td th:text="${user.lastName}">Last Name</td>
                        <td th:text="${user.age}">Age</td>
                        <td th:text="${user.roles}">Roles</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>